
<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main class="centered">
    <h1><%= product.title %></h1>
    <div style="width: 100%;"><img class="centered" style="width: 150px; object-fit: cover; height: 100%;" src="<%= product.imageUrl %>" alt="<%= product.title %>"/></div>
    <h2><%= product.price %></h2>
    <p><%= product.description %></p>
    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
</main>
<%- include('../includes/end.ejs') %>
